<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Image recommendation</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">


        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fileinput.min.css') }}" media="all"  type="text/css" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/my_style.css') }}">



    </head>

    <body>

        <!-- Navigation -->
        {% include 'includes/_navbar.html' %}
        <div class="outer">
            <div class="middle">
                <div class="inner">

                     <input id="input-id" name="file" type="file" class="file" multiple>
                </div>
            </div>
        </div>



        <!-- Footer -->
        <footer id="footer" class="bg-dark">

            <p class="m-0 text-center text-white">Copyright &copy; Andrej Chudy 2018</p>

            <!-- /.container -->
        </footer>

        <script src="{{ url_for('static', filename='js/piexif.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/sortable.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/purify.min.js') }}" type="text/javascript"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <script src="{{ url_for('static', filename='js/fileinput.js') }}"></script>
        <script src="{{ url_for('static', filename='js/events_file_upload.js') }}"></script>




    </body>

</html>
